<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class='form-group'>
  <h6>First name:</h6><%= f.text_field :first_name, placeholder:"What is your first name?" %>
  </div>
  <div class='form-group'>
  <h6>Last name:</h6><%= f.text_field :last_name, placeholder:"What is your last name?" %>
  </div>
  <div class='form-group'>
  <h6>Email:</h6>Email: <%= f.text_field :email, placeholder:"What is your email" %>
  </div>
  <div class='form-group'>
  <h6>Password:</h6>Password: <%= f.password_field :password, placeholder:"Password" %>
  </div>
  <div class='form-group'>
  <h6>Password Confirmation</h6><%= f.password_field :password_confirmation, placeholder="Confirm password" %>
  </div>
  <%= f.submit "Submit", class: 'btn btn-primary' %>

<% end %>